@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Kalameh */
@font-face {
  font-family: Kalameh;
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/Kalameh-Thin.ttf) format("truetype");
}

@font-face {
  font-family: Kalameh;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Kalameh-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Kalameh;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Kalameh-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Kalameh;
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Kalameh-Black.ttf) format("truetype");
}

#Exchange.active,
#languages.active {
  display: block;
}

#mobileMnu {
  left: -444px;
}

#mobileMnu::-webkit-scrollbar {
  @apply bg-violet-600 w-1;
}

#mobileMnu.active {
  left: 0;
}

.banner {
  background-image: url("/img/Rectangle 6326.png");
  height: 529px;
}
.shadow-1 {
  box-shadow: 0px 31px 40px -10px #001b4e17;
}
#rightMenu {
  right: -400px;
}

#rightMenu.open {
  right: 0;
}

#menuMobile {
  max-height: 0;
  transition: all 0.4s;
  padding: 0;
  overflow: hidden;
}

#menuMobile.active {
  max-height: 990px;
  padding: 20px;
}

@media only screen and (max-width: 1024px) {
  .dropdown {
    max-height: 0;
  }
  .dropdown.open {
    max-height: 2000px;
  }
}

/* check box in filter page */
.checkbox-wrapper-34 {
  --blue: #0d7eff;
  --g08: #e1e5eb;
  --g04: #848ea1;
}

.checkbox-wrapper-34 .tgl {
  display: none;
}
.checkbox-wrapper-34 .tgl,
.checkbox-wrapper-34 .tgl:after,
.checkbox-wrapper-34 .tgl:before,
.checkbox-wrapper-34 .tgl *,
.checkbox-wrapper-34 .tgl *:after,
.checkbox-wrapper-34 .tgl *:before,
.checkbox-wrapper-34 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox-wrapper-34 .tgl::selection,
.checkbox-wrapper-34 .tgl:after::selection,
.checkbox-wrapper-34 .tgl:before::selection,
.checkbox-wrapper-34 .tgl *::selection,
.checkbox-wrapper-34 .tgl *:after::selection,
.checkbox-wrapper-34 .tgl *:before::selection,
.checkbox-wrapper-34 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-34 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 57px;
  height: 27px;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.checkbox-wrapper-34 .tgl + .tgl-btn:after,
.checkbox-wrapper-34 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 44%;
  height: 100%;
}
.checkbox-wrapper-34 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-34 .tgl + .tgl-btn:before {
  display: inline;
  position: absolute;
  top: 7px;
}
.checkbox-wrapper-34 .tgl:checked + .tgl-btn:after {
  left: 56.5%;
}

.checkbox-wrapper-34 .tgl-ios + .tgl-btn {
  background: var(--g08);
  border-radius: 20rem;
  padding: 2px;
  transition: all 0.4s ease;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.checkbox-wrapper-34 .tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fff;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-wrapper-34 .tgl-ios + .tgl-btn:before {
  content: "";
  left: 28px;
  color: var(--g04);
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.checkbox-wrapper-34 .tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}
.checkbox-wrapper-34 .tgl-ios + .tgl-btn:active:after {
  padding-right: 0.4em;
}
.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn {
  background: var(--blue);
}
.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active {
  box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}
.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.4em;
}
.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:before {
  content: "\2713";
  left: 0.85rem;
  top: 0.25rem;
  color: #fff;
}

/* ticket open */
.stops__point_after {
  margin: 0.5rem 1px 0.5rem 0;
  border: solid 1px var(--grays-200);
  display: flex;
  height: 0.5rem;
  width: 0.5rem;
  justify-content: center;
  border-radius: 9999px;
  @apply bg-slate-200;
  font-size: 0.625rem;
  line-height: 4;
  font-weight: 500;
}
.stops__point_after::after {
  content: "";
  width: 2px;
  height: 15px;
  @apply bg-slate-200;
  position: absolute;
  top: -0.95rem;
}
.stops__point_before {
  margin: 0.5rem 1px 0.5rem 0;
  border: solid 1px var(--grays-200);
  display: flex;
  height: 0.5rem;
  width: 0.5rem;
  justify-content: center;
  border-radius: 9999px;
  @apply bg-slate-200;
  font-size: 0.625rem;
  line-height: 4;
  font-weight: 500;
}
.stops__point_before::before {
  content: "";
  width: 2px;
  height: 15px;
  @apply bg-slate-200;
  position: absolute;
  top: 0.5rem;
}
